<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Repository" connectionString="Data Source=PHLDVWSSQL002\DVS1201;Initial Catalog=CMS_Dev;Integrated Security=true;Timeout=3" />
    <add name="CMS_C.Properties.Settings.CMS_DevConnectionString"
      connectionString="Data Source=PHLDVWSSQL002\DVS1201;Initial Catalog=CMS_Dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>